
a {
    
    color: white;
}

.container-fluid {
    
    position: relative;
    text-align: center;
    z-index: 1;
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.8);
    
  }

  .container {
    position: relative;
    text-align: center;
    
  }
  



/*                   */
/*   Sin Bootstrap   */
/*                   */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  font-family: Signika;
}

ul {
  list-style-type: none;
}


/* Testimonios */
#testimonios {
  background-color: #e0e0e0;
  background-image: url("../images/testimonios.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 4rem 1.5rem;
}

#testimonios a {
color: #e0e0e0;
}

#testimonios a:hover {
color: #FFF;
}

.arrow-container {
  color: #FFF;
  margin: 0 1rem 0 1rem;
}



#cardsContainer {
  width: 80vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.testimoniosCard {
  margin: 0 25vw;
  padding: 1rem;
  width: 30vw;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: hsla(0, 100%, 100%, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: cardScrollRight 30s linear infinite;
  animation-play-state: running;
}

#cardsContainer:hover .testimoniosCard {
  animation-play-state: paused;
}

@keyframes cardScrollRight {
  from {transform: translateX(55vw);}
  to {transform: translateX(-305vw);}
}

.testimoniosCard .row {
  display: flex;
}

.quote-left-container {
  margin-right: 0.5rem;
}

.quote-right-container {
  display: flex;
  align-items: flex-end;
  margin-left: 0.5rem;
}

.name-container {
  margin-top: 1rem;
  text-align: center;
}


/* Footer */
footer {
  background-color: #1F689D;
  color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

footer a {
  color: #e0e0e0;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  color: #FFF;
}

#footer-about {
  transform: translateY(12px);
  transition: transform 0.3s;
}

#footer-users {
  transform: translateY(0px);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

#footer-list:hover #footer-about {
  transform: translateY(0px);
}

#footer-list:hover #footer-users {
  transform: translateY(5px);
  opacity: 1;
}

#footer-users > a {
  margin-right: 0.5rem;
}

#footer-copy {
  text-align: center;
}

#footer-git {
  margin-right: 50px;
}

/*  comienzo menu nav en css*/

.Navbar {
  background-color: #1F689D;
  display: flex;
  align-items: center;
  justify-content: center;
   
  padding: 10px;
  
  
}

.Navbar__Link{
  padding: 10px 30px;
  font-size: 20px;
  
}

.Navbar__Link > a{
 
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.Navbar__Link > a:hover{
 
    color: #FFC200;
}

.Navbar__Items {
  display: flex;
  align-items: center;
  
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
  margin: 10px;
  color:#FFC200;
}

#menu{
    display: none;
}



.logo-img {
  width: 50px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    top: 10px;
  }
  .Navbar__Items {
    display:none;
  }
  
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    top: 0px;
    padding: 10px;
   } 

   .Navbar__Link-brand {
    height: 25px;
   } 



   #menu{
       display: flex;
   }

}

/*  fin menu nav en css*/

/*  comienzo principal*/

.contenedor-principal {
	display: flex;
	justify-content: stretch;
	align-items: center;
	width: 100%;
  height: 380px;
  position: relative;
  text-align: center;
  background-color: #FFC200;
}

/*  contenedores izq y der*/
.p-left {
	width: 74%;
}

.p-right {
	width: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.leftP-clip{
	background-color: #fff;
  height: 380px;
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.rightP-clip {
	background-image: url("../images/principal2.png");
	background-repeat: no-repeat;
  height: 380px;
  float: right;
  margin: 0px;
 	-webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
 	clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

.blockP {
    margin-left: -20%;
}

.blockP:first-child {
    margin-left: 0%;
}

/*  boton inferior*/
.buttonP {
  position: absolute;
	justify-content: center;
  margin: 0px;
  padding: 0px;
	width: 60%;
	height: 15%;
	background-color: #FFC200;
	border: none;
	cursor: pointer;
	opacity: 0.8;
  font-family:'Roboto', sans-serif;
  font-size: 30px;
	letter-spacing: 0.7px;
  color: #1F689D;
  bottom: 10px;
	-webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  }

buttonP:hover {
	background-color: #FFC200;
	color: #1F689D;
}

.third-P {
  margin-right: 0%;
}

/*  logo superior izq*/
.penta {
  position: absolute;
  margin: -2px 0 0 0;
  padding: 0px;
	width: 6.5%;
	height: 30%;
	background-color: #1F689D;
	border: none;
	cursor: pointer;
  top:2px;
  left:40px;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 300;
	font-size: 1.7em;
	letter-spacing: 0.7px;
  color: #FFF; 
  bottom: -150px;
  transform: translateY(-74px);
  animation: pageLoad 0.5s 0.2s ease-in forwards;
	-webkit-clip-path: polygon(50% 100%, 100% 65%, 100% 0, 0 0, 0 65%);
  clip-path: polygon(50% 100%, 100% 65%, 100% 0, 0 0, 0 65%);
  
}

@keyframes pageLoad {
  from {transform: translateY(-74px);}
  to {transform: translateY(0);}
}

.sevillalogo{
  width: 80%;
  margin: 20% 10% 10% 10%;
  transform: scale(1);
  transition: transform 0.2s 0.1s ease-in;
}

.sevillalogo:hover {
  transform: scale(1.1);
}

/*  titulo contenedor izq*/
.titulo{
  position: absolute; 
  top:30%;
  left:15%;
  font-family: 'Roboto Condensed', sans-serif;
   
  font-size: 50px;
  font-weight: 900;
  color: #1F689D;
}

@media only screen and (max-width: 768px) {
  .p-left {
	width: 100%;
}

.p-right {
	width: 0%;
}

.leftP-clip{
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.buttonP {
	width: 100%;
	height: 15%;
	-webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  font-size: 18px;
}

.penta {
  width: 0%;
	height: 0%;
}

.titulo{
  top:10%;
  left: 10%;
}

}

/*  fin principal*/


/* Residencia */
#residencia {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.slideshow {
  flex: 1000px 0 0;
  height: 500px;
  display: flex;
  overflow-x: hidden;
}

.mySlides {
  flex-basis: 1000px;
  flex-shrink: 0;
  height: 100%;
  animation: sliderDesktop 12s infinite;
}

@keyframes sliderDesktop {
  0% {transform: translateX(0px);}
  30% {transform: translateX(0px);}
  33% {transform: translateX(-1000px);}
  63% {transform: translateX(-1000px);}
  66% {transform: translateX(-2000px);}
  96% {transform: translateX(-2000px);}
  100% {transform: translateX(0px);}
}

.social-info {
  flex: 300px 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.social-info-img {
  width: 180px;
  height: auto;
}

.social-info-movil {
  display: none;
}

/*Comienzo de Recreacion con Container for section frames*/
.contenedor-seccion {
	display: flex;
	justify-content: stretch;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
  height: 480px;
  position: relative;
    text-align: center;
}

/*Poligonal frames with images*/
.a-left {
	width: 54%;
}

.a-right {
	width: 54%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-clip{
	background-image: url("../images/parque.png");
	background-repeat: no-repeat;
  height: 480px;
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.right-clip {
	background-image: url("../images/piscina2.png");
	background-repeat: no-repeat;
  height: 480px;
  float: right;
  margin: 0;
 	-webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
 	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.block:first-child {
    margin-left: 0;
}
.block {
    margin-left: -6%;
}

/*Buttons for poligonal sections recreacion and deportes*/

.buttonS {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140%;
	height: 10%;
  background-color: #1F689D;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 300;
	font-size: 1.7em;
	letter-spacing: 0.7px;
	color: #FFF; 
	-webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

button:hover {
	background-color: #FFC200;
	color: #1F689D;
}

/*this is just a visual alignment of buttons*/
.second-b {
	margin-left: 14%;
}

.third-b {
	margin-left: 28%;
}

/*Fin de Recreacion*/
/*Inicio seccion area social con poligonos diferentes*/

.b-left-clip {
	background-image: url(../images/salondefiestas.png);
	background-repeat: no-repeat;
  height: 480px;
  float: left;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}

.b-right-clip {
	background-image: url(../images/churrasqueras.png);
	background-repeat: no-repeat;
  height: 480px;
 	float: right;
 	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
 	clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
 	text-align: center;
 	color: white;
}

.b-right {
	width: 54%;
}

.b-left {
	width: 54%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b-left button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140%;
	height: 10%;
	background-color: #1F689D;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 300;
	font-size: 1.7em;
	letter-spacing: 0.7px;
	color: #FFF; 
	-webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 10% 100%);
	clip-path: polygon(0 0, 90% 0%, 100% 100%, 10% 100%);
}

button:hover {
	background-color: #FFC200;
	color: #1F689D;
}

/*this is just a visual alignment of buttons*/
.second {
  margin-left: -16%;
}

.third {
	margin-left: -30%;
}
/*fin seccion area social*/

/*poligonos para seccion deportes*/
.c-left-clip {
	background-image: url(../images/canchas.png);
	background-repeat: no-repeat;
  height: 480px;
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.c-right-clip {
	background-image: url(../images/gym.jpg);
	background-repeat: no-repeat;
  height: 480px;
 	float: right;
 	-webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
 	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
 	text-align: center;
 	color: white;
}
/*fin deportes*/

/* Social para dispositivos mas peque単os */
@media (max-width: 1250px) {
  #social {
    flex-wrap: wrap;
  }
  .slideshow {
    flex-basis: 100%;
    height: 50vw;
  }

  .mySlides {
    flex-basis: 100%;
    height: 50vw;
    animation: sliderMobile 12s infinite;
  }

  @keyframes sliderMobile {
    0% {transform: translateX(0%);}
    30% {transform: translateX(0%);}
    33% {transform: translateX(-100%);}
    63% {transform: translateX(-100%);}
    66% {transform: translateX(-200%);}
    96% {transform: translateX(-200%);}
    100% {transform: translateX(0%);}
  }

  #residencia {
    flex-wrap: wrap;
  }

  .social-info {
    display: none;
  }

  .social-info-movil {
    background-color: rgba(31, 104, 157, 0.7);
    display: flex;
    flex-direction: row;
    z-index: 2;
    margin-top: -56px;
    width: 100vw;
    justify-content: space-around;
  }

  .social-info-img-movil {
    height: 40px;
    flex-basis: 80px;
    flex-shrink: 1;
    margin: 8px;
  }

  /*.social-info {
    flex-direction: row;
    padding: 1rem;
  }

  .social-info-img {
    width: 150px;
    flex-basis: 180px;
    flex-shrink: 1;
    margin: 0.5rem;
  }*/
}
/* Fin social dispositivos mas peque単os */
/* Fin social */

/* Comienzo media queries para cambiar dise単o de pagina en dispositivos menores a 768px */
@media only screen and (max-width: 768px) {

  .a-right, .right-clip, .b-left, .b-left-clip {
    display:none;
  }
  
  .a-left {
    width: 90%;
  }
  
  .left-clip{
    background-image: url(../images/parquePeq.png);
    background-repeat: no-repeat;
    height: 300px;
    float: left;
  }
    
   .c-left-clip {
    background-image: url(../images/canchasPeq2.png);
    background-repeat: no-repeat;
    height: 300px;
    position: absolute;
    left: 0;
   }

  .b-right {
    width: 90%;
  }
  
  .b-right-clip {
    background-image: url(../images/asreasocialPeq.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    height: 300px;
  }
  
  /*Buttons row for showing on tablet and mobile devices screen only.Para esconder lo que no necesito
  y cambiar diagramacion en pantalla movil*/
  .contenedor-seccion {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 310px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .buttons-row-right button, .buttons-row-right-b button {
    width: 200px;
    height: 40px;
    background-color: #1F689D;
    opacity: 0.8;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    padding-left: 4px;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 1.7em;
    letter-spacing: 0.7px;
    color: #1F689D; 
    -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 100% 100%);
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 10% 100%);
  }
  
  /*Las mismas caracteristicas pero cambia el clip path y la alineacion de la fila de botones para left*/
  .buttons-row-left button {
    width: 200px;
    height: 40px;
    background-color: #1F689D;
    opacity: 0.8;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 1.7em;
    letter-spacing: 0.7px;
    color: #1F689D; 
    -webkit-clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
  }
  
  .buttons-row-right button:hover, .buttons-row-right-b button:hover, .buttons-row-left button:hover {
    background-color: #FFC200;
    opacity: 0.9;
    width: 250px;
    font-size: 1.2em;
    letter-spacing: 0.4px;
  }
  
  
  .bt-one-right, .bt-one-right-b {
    position: absolute;
    right: 0;
    top: 150px;
    margin-bottom: 20px;
  }
  
  .bt-two-right, .bt-two-right-b {
    position: absolute;
    right: 0;
    top: 195px;
    margin-bottom: 20px;
  }
  
  .bt-three-right, .bt-three-right-b {
    position: absolute;
    right: 0;
    top: 240px;
    margin-bottom: 20px;
  }
  
  .bt-one-left {
    position: absolute;
    left: 0;
    top: 150px;
    margin-bottom: 20px;
  }
  
  .bt-two-left {
    position: absolute;
    left: 0;
    top: 195px;
    margin-bottom: 20px;
  }
  
  .bt-three-left {
    position: absolute;
    left: 0;
    top: 240px;
    margin-bottom: 20px;
  }
  
  }
  
  @media only screen and (min-width: 769px) {
    .buttons-row-right, .buttons-row-left, .buttons-row-right-b {
    display:none;
  }	
  }
  /* Final media queries para cambiar dise単o de pagina en dispositivos menores a 768px */


/* Inicio boton de Top */
#topBtn {
	display: none;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 99;
	border: none;
	outline: none;
	background-color:#FFC200;;
	cursor: pointer;
	padding: 8px 8px 4px 8px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.1);
	opacity: 0; /* make things invisible upon start */
	transform: translateY(-10px);

}

#topBtn img {
	width: 2rem;
	transition: width 0.3s 0.3s ease-in;
}

#topBtn:hover img {
	width: 1.875rem;
}

@keyframes fadeIn {
	from { opacity: 0; trasnform: translateY(-10px);}
	to { opacity: 1; transform: translateY(0px);}
}
/* Fin boton de Top */