

a {
    
    color: white;
}







.container-fluid {
    
    position: relative;
    text-align: center;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #about{
    /* The image used */
  background-image: url("../images/principal.jpg");

  /* Full height */
  height: 400px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  }

  #titulo{
    padding-top: 0px;
    width: 800px;
    height: 0px;
    border-right: 50px solid transparent;
    
    border-top: 70px solid #e1edf7;
     
  }

  #logo{
    padding-top: 0px;
    width: 50px; 
     height: 50px; 
     
     
     
  }

  

  .container {
    position: relative;
    text-align: center;
    
  }
  .text-block1 {
    position: absolute;
    display: inline-block;  
    top: 20px;
    left: 20px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
  }
  .text-block2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: orange;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
  }

  nav {
    background-color: #1F689D;
    color: white;

  }

  .navbar li a, .navbar .navbar-brand {
    font-family: "Open Sans";
    font-size: 20px;
    color:white !important;
}

/*                   */
/*   Sin Bootstrap   */
/*                   */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font-family: Signika;
}

ul {
  list-style-type: none;
}


/* Testimonios */
#testimonios {
  background-color: #e0e0e0;
  background-image: url("../images/testimonios.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

#testimonios a {
color: #e0e0e0;
}

#testimonios a:hover {
color: #FFF;
}

.arrow-container {
  color: #FFF;
  margin: 0 1rem 0 1rem;
}

.testimonios-card {
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  flex: 300px 0 1;
  border-radius: 5px;
  background-color: hsla(0, 100%, 100%, 0.8);
  display: flex;
  flex-direction: column;
}

.testimonios-card .row {
  display: flex;
}

.quote-left-container {
  margin-right: 0.5rem;
}

.quote-right-container {
  display: flex;
  align-items: flex-end;
  margin-left: 0.5rem;
}

.name-container {
  margin-top: 1rem;
  text-align: center;
}


/* Footer */
footer {
  background-color: #1F689D;
  color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

footer a {
  color: #e0e0e0;
  text-decoration: none;
}

footer a:hover {
  color: #FFF;
}